<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>


    <header>
        <a class="logo" href="/">Laboration 1.2</a>
        <span class="date">
            Dagens datum är: @DateTime.Now.ToShortDateString()
        </span>
    </header>
    <div class="main-column">
        <div class="flexible-row">

            <div class="menu-btn-wrap">
                <label for="menu-toggle" aria-hidden="true">Meny</label>
                <div id="menu-btn" class="close rotate">
                    <span></span>
                    <span></span>
                    <span></span>
                    <input type="checkbox" id="menu-toggle" aria-label="dölj meny">
                </div>
            </div>

            <nav id="main-menu">
                <ul>
                    <li><a href="/">Start</a></li>
                    <li><a href="/razor">Razor</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>

            <main>
                @RenderBody()
            </main>
        </div>

        <footer>
            <span>Av Axel Hellberg - <a href="mailto:axhe1901@student.miun.se">Kontakta mig via e-post</a></span>
        </footer>

    </div>
    <script src="~/js/main.js"></script>
</body>
</html>