@page
@model moment1_2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om sidan</h1>
<p>
    Denna webbplats är skapad med ramverket ASP.NET och syntaxen Razor.
    Syftet med utvecklingen av webbplatsen är att laborera med dessa tekniker.
    Laborationen är en del av den första i kursen DT102G, <i>ASP.NET med C#</i>.
    Webbplatsen utvecklades i miljön Visual Studio Enterprise 2019.
</p>
<p>
    Webbplatsen är skapad av Axel Hellberg som bor i Stöde, 4 mil utanför Sundsvall.
    Axel studerar andra året av två i programmet i webbutveckling på Mittuniversitetet.
</p>