@page
@model moment1_2.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<h1>Start</h1>

<p>
    Razor är namnet på den syntax som används till att 
    dynamiskt presentera innehåll på webbsidor utvecklade 
    med ASP.NET. Syntaxen ämnar att uppnå en smidig 
    övergång mellan HTML-kod och C#- eller Visual Basic-skript.
    Med Razor infogas skript med @@-symbolen följt av själva 
    skriptet. Slutet av skriptsektionen behöver inte markeras, 
    till skillnad från föregångaren Web Forms eller den motsvarande 
    PHP-syntaxen.
</p>
